.sidebar-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.sidebar-item {
  border: 1px solid #d9d9d9;
  padding: 10px 12px;
}

.sidebar-link {
  display: block;
  text-decoration: none;
  color: inherit;
}

.active {
  border: 2px solid green;
  padding: 10px 12px;
}
